body{
    font-family: Geneva,Tahoma,sans-serif;
    font-size: 100%;/*16px*/
}
h1,h2{
    font-family: "Gill Sans","Gill Sana MT",Calibri,sans-serif;
    font-weight: normal;
}
em,
a:link,
.intro .subhead{
    font-weight: bold;
}
h1{
    font-size: 2.1875em;/*35px*/
}
h2{
    font-size: 28px
}
.intro .subhead{
    font-size: 18px
}
.intro p{
    font-size: 17px
}
.project p{
    font-size: 15px
}
p{
    /* 斜体 */
    font-style: italic;
    /* 取消斜体 */
    font-style: normal;
}